[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/muparser"]
	path = third_party/muparser
	url = https://github.com/beltoforion/muparser.git

[submodule "third_party/third_party/imgui"]
	path = third_party/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/exprtk"]
	path = third_party/exprtk
	url = https://github.com/ArashPartow/exprtk.git
